<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Historia de Nagarote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  [scrollEvents]="true"
  (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()"
  class="ion-padding background-white"
>

<ion-grid fixed>
  <ion-row class="ion-justify-content-start">
    <ion-col size="12" sizeMd="6">
        <h2>Historia Antigua del Municipio</h2>

        <p>
          Nagarote es un pueblo de origen indígena, tiene una existencia de más de quinientos años (500 años), 
          dado que para el año mil quinientos cuarenta y ocho (1548), bajo la denominación española, aparece 
          mencionado el pueblo de Nagarote como encomienda del rey de España.
          El origen del nombre de “Nagarote”, según algunos autores proviene de la lengua indígena Chorotegana 
          que significa “en el camino de los Nagrandanos”, de las voces “Nagrand” que significa Nagrandanos y 
          la voz “Otli”, que expresa idea de camino.
          Existe otra versión que deriva Nagarote de los vocablos “nahualli – Otli” o “Camino de brujo”. El pueblo 
          de Nagarote fue elevado a rango de ciudad por ley legislativa del 4 de junio de 1963.
        
        
          Cabe mencionar que la producción de granos básicos es de autoconsumo y otra parte para la industria. 
          Es importante señalar que en el municipio de Nagarote se registran 21,500 cabezas de ganado con doble 
          propósito: lechero y producción de carne.
        </p>

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>El Genízaro: </h2>

      <p>
        El Genízaro de Nagarote es quizás uno de los árboles más antiguos que se conservan en el país, su edad 
        aproximada data de mil años. Sus ramas milenarias albergan diferentes etapas de nuestra historia.
        
        La importancia de este milenario árbol está precisamente en su edad y por ser testigo mudo de muchos 
        acontecimientos. La historia registra que en este árbol fue ahorcado el valiente cacique Nagrandano por órdenes de Pedrarias Dávila.
        
        En los años 30, bajo el árbol del Genízaro acampaban caravanas de gitanos, los cuales por la noche 
        realizaban espectáculos de magia y malabarismo.El 19 de marzo de 1964, siendo presidente el Dr. René Schik
        el presidente de Nagarote fue declarado Monumento Nacional.
        
        A partir de 1951 los nagaroteños celebran el 31 de diciembre “La fiesta del palo grande” alrededor 
        del Genízaro. Desde hace varios años al desprenderse su rama mayor (1993), surgió la idea de elaborar 
        réplicas de artículos indígenas que se perenniza con la madera del Genízaro.
        
        Entre los objetos ya elaborados se encuentran una escultura de Cacique Nagrandano en tamaño natural, 
        así como la de la indita de Nagarote, vasijas precolombinas, armas usadas por los indios y los españoles 
        al momento de la colonización. Este museo es el único en el mundo que tiene piezas de un árbol milenario.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Principales Cultivos que se dan en el Municipio.</h2>
        
      <p>
        <strong>Maíz: </strong>> se cultivan 1,169 manzanas aproximadamente en primera como en postrera.<br>
        <strong>Sorgo industrial: </strong>se cultivan 1,730 manzanas en primera como en postrera.<br>
        Cultivo de soya 40 manzanas de riego.<br>
        Cultivo de tabaco 45 manzanas de riego.<br>
        Cultivo de maní 2,020 manzanas.<br>
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Patrimonio Histórico y cultural</h2>

        <p>
          Se ubicó en el cacicazgo de imabite, sobre una llanura costera lindante con el océano pacifico 
          y el lago xolotlan, las montañas de Mateare. Por ser un pueblo que existe desde la colonia española, 
          el municipio de Nagarote posee piezas arquitectónicas únicas en sus estructuras, detallamos las siguientes:<br>
          <br>
          <strong>Iglesia Parroquial Santiago Apóstol:</strong><br>
          <br>
          Nagarote conserva como reliquia arquitectónica del municipio su hermosa Iglesia Parroquial, 
          fundada en el año de 1650, con el nombre de parroquia de Santiago de la Concepción de la Villa 
          de Nagarote. Fue declarada Monumento Nacional el 14 de diciembre de 1955. Conserva imágenes de arte 
          sacro y acoge la imagen de Santiago Apóstol, el venerado patrón de Nagarote.
        </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Antigua Estación del Ferrocarril:</h2> 
        
      <p>
        Data de 1963, en este lugar se empezó a vender el quesillo que viajaba de Nagarote hacia Corinto y 
        Masaya. La estación fue remodelada en 2005, convertida en un Centro Cultural donde se rescata, 
        conserva y promueve la cultura del municipio, además se desarrollan talleres de pintura y danza, 
        se exponen fotografías de los personajes ilustres de Nicaragua y Nagarote. También se organizan 
        espectáculos culturales y conciertos de música viva.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Parque Central:</h2>

      <p>
        En el centro del municipio de Nagarote está un amplio y acogedor parque en donde se celebran noches 
        con actividades culturales. Aquí podrás ver una fuente con ocho jícaras, símbolo de identidad de 
        Nagarote, haciendo alusión a su bebida típica local el pinolillo, que se toma acompañado de un 
        suculento quesillo. También se exponen las 14 Estaciones del Viacrucis, juegos infantiles, kioscos 
        turísticos, lámparas, bancas coloniales y palmeras.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Plaza de las Palmeras:</h2> 
        
      <p>
        Contiguo al Parque Central de Nagarote existe una plaza adornada con palmeras, que sirve como un 
        sector de esparcimiento para los visitantes. En las tardes de sol, es común ver a familias que buscan 
        un momento de sana diversión.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Avenida La Calzada: </h2>
        
      <p>
        Este lugar está destinado únicamente para el tránsito de peatones y ciclistas, abarca desde el 
        Parque Central hasta el Cementerio municipal. A los lados de La Calzada está ornamentada con 
        vistosos colores y murales que narran la cultura de este pueblo, así como sus bellas plantas y 
        flores propias del territorio. En este lugar podés degustar de comida, refrescos o dulces de la zona.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>El Paseo de la Biblia: </h2>
        
      <p>
        Es otro centro de concentración de la población de Nagarote, especialmente de noche cuando se 
        convierte en un centro de esparcimiento cultural, de encuentro y convivencia familiar. Tiene una 
        longitud de aproximadamente dos cuadras; acondicionado con bancas, bebederos y con bellos jardines; 
        además cuenta con excelente iluminación y seguridad permanente. Ahí la población llega a caminar, 
        se sienta a conversar o simplemente apreciar los atardeceres.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <h2>Monumento al Milenio: </h2>
        
      <p>
        Ubicado en el Mirador La Concordia, se trata de un monumento dedicado al Milenio, el cual está coronado 
        con una torre que mide más de ocho metros de altura, también posee una fuente luminosa en el centro en 
        forma de cascada que completa el mirador. Desde su hermosa terraza superior se puede apreciar toda la 
        ciudad con casas de techos de tejas y el cono perfecto del volcán Momotombo en el paisaje.
      </p>
    </ion-col>
  </ion-row>

</ion-grid>
  
</ion-content>